<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="header">
		<div class="container">
			<img class="img-fluid" alt="beneficios" th:src="@{/images/becas.jpg}"
				title="beneficios">
		</div>
		<h1 class="site-heading text-center text-faded d-none d-lg-block">
			<span class="site-heading-upper text-primary mb-3"
				th:text="${titulo}"></span>
		</h1>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand" href="#">Portal de Capacitacion</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarColor02"
					aria-controls="navbarColor02" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor02">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="/inicio" th:href="@{/inicio}">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/votar}">Votar</a>
						</li>
				        <li class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Usuarios
				          </a>
				          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            <li><a class="dropdown-item" th:href="@{/usuario/listausuarios}">Listar Usuarios</a></li>
				          </ul>
						</li>
				        <li class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Candidatos
				          </a>
				          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            <li><a class="dropdown-item" th:href="@{/candidato/listacandidatos}">Listar Usuarios</a></li>
				          </ul>
						</li>
						<li class="nav-item"><a class="nav-link" th:href="@{/candidato/estadovotacion}">Estado Votacion</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>